<template>
    <div>
        <div v-if="albums.data.length" class="row mt-4">
            <div v-for="album in albums.data" :key="album._id" class="col-4">
                <div class="card">
                    <img :src="album.logo_url" alt="Album logo" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.title }}</h5>
                        <p class="card-text">{{ album.description }}</p>
                        <a :href="'/albums/' + album._id" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "AlbumGrid",
    props : ["userid"],
    data() {
        return {
            albums: []
        }
    },
    async beforeMount() {
        const { data } = await axios.get(`/api/v1/users/${this.userid}/albums`);
        if (data) {
            this.albums = data;
        }
    } ,
    methods: {
    }
}
</script>

