<template>
    <div>
        <div class="col-8 offset-2">
            <h4>Create Album</h4>
            <div>
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-form-group
                    id="title-group"
                    label="Title:"
                    label-for="title"
                >
                    <b-form-input
                        id="title"
                        v-model="form.title"
                        type="text"
                        required
                        placeholder="Enter title"
                        :state="form.errors.has('title') ? false : null"
                        aria-describedby="titlefeedback"
                    ></b-form-input>
                    <b-form-invalid-feedback id="titlefeedback">
                        {{ form.errors.get('title') }}
                    </b-form-invalid-feedback>
                </b-form-group>
                <b-form-group
                    id="description-group"
                    label="Description:"
                    label-for="description"
                >
                    <b-form-input
                        id="description"
                        v-model="form.description"
                        type="text"
                        placeholder="Enter description"
                    ></b-form-input>
                    <has-error :form="form" field="description"/>
                </b-form-group>
                <b-form-group
                    id="logo-group"
                    label="Logo:"
                    label-for="logo"
                >
                    <b-form-file
                        id="logo"
                        v-model="form.logo"
                        :state="Boolean(form.logo)"
                        placeholder="Choose a file..."
                        drop-placeholder="Drop file here..."
                    ></b-form-file>
                    <has-error :form="form" field="logo"/>
                </b-form-group>
                <b-form-group
                    id="tags-group"
                    label="Tags:"
                    label-for="tags"
                >
                    <tags-input element-id="tags"
                        v-model="form.tags"
                    ></tags-input>
                    <has-error :form="form" field="tags"/>
                </b-form-group>
                <b-button type="submit" variant="primary">Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Form from 'vform'

export default {
    name: "NewAlbumForm",
    props: [],
    data() {
        return {
            form: null,
            show: true
        }
    },
    mounted() {
        this.reset()
    },
    methods: {
        async onSubmit(evt) {
            evt.preventDefault()
            const d = this.form.data()
            const formData = new FormData()
            formData.append('title', d.title)
            formData.append('description', d.description)
            formData.append('logo', d.logo)
            if (d.tags.length) {
                formData.append('tags', JSON.stringify(d.tags))
            }
            try {
                const { data } = await axios.post("/api/v1/albums", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                })
                window.location.href = '/home'
            } catch (err) {
                this.form.errors.set(this.form.extractErrors(err.response))
            }
        },
        onReset(evt) {
            evt.preventDefault()
            this.reset()
            this.show = false
            this.$nextTick(() => {
                this.show = true
            })
        },
        reset() {
            this.form = new Form({
                title: '',
                description: '',
                logo: '',
                tags: []
            })
        }
    }
}
</script>

