<template>
    <div>
        <div v-if="photos.data.length" class="row mt-4">
            <div v-for="photo in photos.data" :key="photo._id" class="col-4">
                <div class="card">
                    <img :src="photo.image_url" alt="Photo" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ photo.caption }}</h5>
                        <a :href="'/albums/' + album._id" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: "PhotoGrid",
    props: ["url"],
    data() {
        return {
            photos: null
        }
    },
    async beforeMount() {
        const { data } = await axios.get(this.url)
        this.photos = data;
    }
}
</script>
